<div class="flex justify-center sticky z-10 top-0 text-3xl bg-white border-b-2 py-4 px-8 mx-4">
  <h1 class="flex">
    Last clicked post:&nbsp;
    <span class="text-right w-0 text-[#ff3600]" data-testid="current-post">
      @if (currentPost()) {
        {{currentPost()?.id}}
      } @else {
        –
      }
    </span>
  </h1>
</div>

@if((postsService.posts$ | async)?.length || (postsService.hasError$ | async)) {
  @if(postsService.hasError$ | async) {
    <app-error-message (retry)="postsService.reFetchPosts()"/>
  } @else {
    <div class="grid grid-cols-5 sm:grid-cols-10 gap-4 m-8">
      @for (post of (postsService.posts$ | async); track post.id) {
        <app-post
          [post]="post"
          [isActive]="currentPost()?.id === post.id"
          (setCurrentPost)="postsService.setCurrentPost(post)"
        />
      }
    </div>
  }
} @else {
  @if(postsService.isLoading$ | async) {
    <app-loading-spinner/>
  } @else {
    <p class="text-center m-8" data-testid="no-posts-alert">You have no posts yet.</p>
  }
}
