<div class="flex justify-center sticky z-10 top-0 text-3xl bg-white border-b-2 py-4 px-8 mx-4">
  <h1 class="flex">
    Last clicked post:&nbsp;
    <span class="text-right w-0 text-[#ff3600]">
      @if (postsService.currentPost$ | async; as currentPost) {
        {{currentPost.id}}
      } @else {
        –
      }
    </span>
  </h1>
</div>
<div class="grid grid-cols-5 sm:grid-cols-10 gap-4 m-8">
  @if (postsService.posts$ | async) {
    @for (post of (postsService.posts$ | async); track post.id) {
      <app-post
        [post]="post"
        [isActive]="(postsService.currentPost$ | async)?.id === post.id"
        (setCurrentPost)="setCurrentPost(post)"
      />
    }
  } @else {
    <p>You have no posts yet.</p>
  }
</div>
